<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home/navbar.css">
    {% block styleH %}{% endblock %}
    <title>{% block titlesH %}{% endblock %}</title>
</head>
<body>
    <div class="navbar">
        <ul class="navbarP">
            <li><a href="#" class="navbarA">Tareas</a>
            </li>
            {% if request.user.is_authenticated %}
                <li><a href="#" class="navbarA">Perfil</a>
                </li>
                <li><a href="#" class="navbarA">Mis tareas</a></li>
                <li><a href="{% url 'logout' %}" class="navbarA">Salir</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="navbarLo">Iniciar Sesion</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="content">
        <h1>bienvenido {% if request.user.is_authenticated %}{{ request.user.first_name }}{% else %}invitado{% endif %}</h1>
        {% block containerTask%}{% endblock %}
    </div>

    {% if request.user.is_authenticated %}
        {% block buttons %}{% endblock %}
    {% endif %}

    <div class="footerH">
        <footer>&copy; Creado por David Cortes. Todos los derechos reservados</footer>
        <footer> <a href="#">Ver portafolio David Cortes</a></footer>
    </div>
</body>
</html>