{% extends "plantillas/loginP.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/css/plantillas/loginP.css">
{% endblock %}

{% block title %}Registrar{% endblock %}

{% block containerSignOn %}
    <div class="container-login">
        <h1>REGISTRAR</h1>  
        <form action="{% url 'signOn' %}" method="post">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br>
            <div class="inputGroup">
                <label>Nombre: </label><br>
                <input type="text" placeholder="Nombre" name="name" id="name"><br>
            </div>
            <div class="inputGroup">
                <label>Apellido: </label><br>
                <input type="text" placeholder="Apellido" name="last_name" id="last_name"><br>
            </div>
            <div class="inputGroup">
                <label>Fecha de nacimiento: </label><br>
                <input type="date" name="date_birthday" id="date_birthday" class="inputDate"><br>
            </div>
            <div class="inputGroup">
                <label>Rol a ocupar: </label><br>
                <select name="rol" id="rol">
                    <option value="client">Cliente</option>
                    <option value="admin">Administracion</option>
                    <option value="editor">Editor</option>
                </select><br>
            </div>
            <div class="inputGroup">
                <label>Email: </label><br>
                <input type="email" name="email" id="email" placeholder="Correo Electronico"><br>
            </div>

            <div class="inputGroup">
                <label>Contraseña: </label><br>
                <input type="password" name="password1" id="password1" placeholder="Contraseña"><br>
            </div>

            <div class="centrarBotones">
                <button type="submit" name="signOn" id="signOn">Registrar</button>
                <button name="cancelar" id="cancelar">Cancelar</button>
            </div>
        </form>
    </div>
{% endblock %}